html {
  --text-color: black;
  --background-color: white;
}

.home__hobbyCardsWrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  grid-gap: 1rem;
  margin: 2.5rem 0;
  width: 100%;
}

.hobbyDetails__wrapper {
  margin: 2rem;
}

.videoPage__video {
  background: gray;
  height: 15rem;
}
